*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: sans-serif;
}

/*CSS Header */
header{
    display: flex;
    height: 60px;
    background-color: #222831;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 15px #00ADB5;
}
a{
    text-decoration: none;
    color: #EEEEEE;
}
.shop-name{
    color: #00ADB5;
}
.shop-name:hover{
    text-shadow: 0px 0px 15px #EEEEEE;
}
header .line{
    height: 25px;
    width: 1px;
    background-color: #00ADB5;
}
.logo{
    display: flex;
    align-items: center;
    width: 33%;
}
.logo-img {
    height: 48px;
    width: 48px;
    margin-right: 10px;
    margin-left: 8px;
    display:block;
    background-image: url('../images/logo-white-48px.png');
}
.logo-img:hover {
    background-image: url('../images/logo-00ADB5-48px.png');
}
.header-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text a{
    padding: 10px;
    font-size: medium;
    font-weight: bold;
}
.header-text a:hover{
    color: #00ADB5;
}
.user{
    display: flex;
    width: 33%;
    justify-content: flex-end;
    align-items: center;
}
.user a{
    margin: 10px;
    font-size: medium;
    font-weight: bold;
}
.user a:hover{
    color: #00ADB5;
}
/*CSS Header */

/*CSS Footer */
footer{
    display: flex;
    background-color: #222831;
    margin-top: auto;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}
footer p{
    color: #EEEEEE;
    font-size: 10px;
}
.footer-div{
    display: flex;
    align-items: center;
    width: 33%;
}
.shop-name-f{
    color: #00ADB5;
}
.footer-div img{
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
.footer-text{
    display: flex;
    align-items: center;
    width: 33%;
    justify-content: flex-end;
}
.footer-text a{
    padding: 10px;
    font-size: 10px;
}
.footer-text a:hover{
    color: #00ADB5;
}
footer .line{
    height: 15px;
    width: 1px;
    background-color: #00ADB5;
}
.social{
    display: flex;
    align-items: center;
}
.social a{
    margin: 5px;
}
.social-fb {
    width: 20px;
    height:20px;
    display:block;
    background-image: url('../images/fb-white.png');
}
.social-fb:hover {
    background-image: url('../images/fb-00ADB5.png');
}
.social-ig {
    width: 20px;
    height:20px;
    display:block;
    background-image: url('../images/ig-white.png');
}
.social-ig:hover {
    background-image: url('../images/ig-00ADB5.png');
}
.social-tw {
    width: 20px;
    height:20px;
    display:block;
    background-image: url('../images/tw-white.png');
}
.social-tw:hover {
    background-image: url('../images/tw-00ADB5.png');
}
/*CSS Footer */